@media screen and (max-width : 992px) {
    section {
        padding: 50px 0;
    }
    .main-header-text {
        background-color: rgba(0, 0, 0, .3);
        border-radius: 30px;
    }

    .main-header .navbar-nav {
        background: linear-gradient(45deg, #ed1b33 40%, #2989d8 70%, #207cca 81%, #442082 100%);
        padding-left: 50px;
        position: relative;
        z-index: 2;
    }

    h3, h4 {
        font-size: 25px;
    }
}


@media screen and (max-width : 768px){
    .section-progress .progress-item{
        padding-top: 5px;
        padding-bottom: 15px;
    }
    .section-lets{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width : 480px) {
    .section-tabs .nav-pills .nav-link {
        padding: 8px 16px;

    }
    .section-tabs .nav-pills .nav-item {
        width: 100%;
    }
}